---
layout: default
title: The Kemuri Team
permalink: /team/
---


<div class="section section-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-push-1">
				<h1>The Kemuri Team</h1>
				<p>
					To achieve our goals of making smart but unintrusive monitoring a reality we've assembled a great team.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<ul class="team-members">
					<li>
						{% include mugshot.html  name="Leonard Anderson" alignment="right" src="BW-Leonard-Anderson.png" %}
						<h2>Leonard <span>CEO</span></h2>
						<p>Leonard is a highly experienced programme manager with experience at Shell, Ford and Newcastle City Council - As well as five start-ups.</p>
					</li>
					<li>
						{% include mugshot.html  name="Russ Anderson" alignment="right" src="BW-Russ-Anderson.png" %}
						<h2>Russ <span>CTO</span></h2>
						<p>Russ has been involved in rapid development of dozens of new products in labs teams for lastminute.com, Travelocity and the Yellow Pages</p>
					</li>
					<li>
						{% include mugshot.html  name="Stephen Colony" alignment="right" src="BW-Stephen-Coloney.png" %}
						<h2>Stephen <span>COO</span></h2>
						<p>An ex-KPMG consultant, Stephen has also had extensive experience in the telecare market installing solutions for Tunstall</p>
					</li>
					<li>
						{% include mugshot.html  name="Lawrence Archard" alignment="right" src="BW-Lawrence-Archard.png" %}
						<h2>Lawrence <span>Hardware</span></h2>
						<p>Lawrence has been building IoT devices since before it was a buzzword, most recently designing the <a href="https://www.microbit.co.uk/">BBC micro:bit</a> that will be distributed to 1 million year-7 children</p>
					</li>
					<li>
						{% include mugshot.html  name="Geoff Hughes" alignment="right" src="BW-Geoff-Hughes.png" %}
						<h2>Geoff <span>Firmware</span></h2>
						<p>Geoff has had tremendous experience working with power systems, from Thorn EMI to the CEGB</p>
					</li>
					<li>
						{% include mugshot.html  name="Mike Anderson" alignment="right" src="BW-Mike-Anderson.png" %}
						<h2>Mike <span>Data Analysis</span></h2>
						<p>Ex-McKinsey, Mike has founded his own data analytics firm Nuroko that utilises some of the most advanced machine learning techniques available. </p>
					</li>
				</ul>

			</div>
		</div>



		<div class="row">
			<div class="col-md-10 col-md-push-1">
				<h1>Non-Executive Directors</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<ul class="team-members">
					<li>
						{% include mugshot.html  name="Mark Dugdale" alignment="right" src="BW-Mark-Dugdale.png" %}
						<h2>Mark Dugdale </h2>
						<p>Mark has over 30 years’ experience in the publishing and retailing sectors and is a pioneer in multi-channel retailing. He has board experience with UK-listed companies including Flying Brands, Arcadia Group and Innovations Group. </p>
					</li>
					<li>
						{% include mugshot.html  name="David Rates" alignment="right" src="BW-David-Rates.png" %}
						<h2>David Rates </h2>
						<p>David has spent working life building computer software companies. Former chairman of government advisory committee on software products. </p>
					</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<div class="col-md-10 col-md-push-1">
				<h1>Advisors</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<ul class="team-members">
					<li>
						{% include mugshot.html  name="Merlin Hay, Earl of Erroll" alignment="right" src="BW-Lord-Erroll.png" %}
						<h2>Merlin Hay, Earl of Erroll </h2>
						<p>Lord Erroll has been an independent crossbench peer in the House of Lords since 1978. He specialises in ICT thought leadership, internet identity, privacy and security issues, risk and big data at a commercial, legislative and government level.</p>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>









