<footer>
	<div class="container  text-center">
		<ul>
			<li><a href="https://twitter.com/KemuriSense"><img width="20" alt="" src="{{ site.baseurl }}/images/icons/twitter-grey.png" /> KemuriSense</a></li>
			<li><a href="https://facebook.com/KemuriSense"><img width="20" alt="" src="{{ site.baseurl }}/images/icons/facebook-grey.png" /> KemuriSense</a></li>
			<li><a href="mailto:hello@kemurisense.com"><img width="20" alt="" src="{{ site.baseurl }}/images/icons/email-grey.png" /> hello@kemurisense.com</a></li>
		</ul>
	</div>
</footer>
