<footer>
	<div class="internal-links">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-3  col-md-push-2 footer-column">
					<h2>Company</h2>
					<ul>
						<li><a href="{{ site.baseurl }}/about/">
							<span class="k-icon"></span> About
						</a></li>
						<li><a href="{{ site.baseurl }}/team/">
							<span class="k-icon"></span> The Team
						</a></li>
						<li><a href="{{ site.baseurl }}/blog/">
							<span class="k-icon"></span> Blog
						</a></li>
						<li><a href="{{ site.baseurl }}/case-studies/">
							<span class="k-icon"></span> Case Studies
						</a></li>
						<li><a href="{{ site.baseurl }}/download/">
							<span class="k-icon"></span> Downloads
						</a></li>
						<li><a href="https://youtu.be/3MtcGmFgXdE">
							<span class="k-icon"></span> Positive Mental Attitude
						</a></li>



					</ul>
				</div>
				<div class="col-md-3  col-md-push-2 footer-column">
					<h2>Contact</h2>
					<ul>
						<li><a href="https://twitter.com/KemuriSense">
							<span class="k-icon"></span> KemuriSense
						</a></li>
						<li><a href="https://facebook.com/KemuriSense">
							<span class="k-icon"></span> KemuriSense
						</a></li>

						<li><a href="https://linkedin.com/company/Kemuri">
							<span class="k-icon"></span> Kemuri
						</a></li>
						<li><a href="mailto:hello@kemuri.io">
							<span class="k-icon"></span> hello@kemuri.io
						</a></li>
					</ul>
				</div>
				<div class="col-md-3  col-md-push-2 footer-column">
					<h2>Purpose</h2>
					<ul>
						<li><a href="{{ site.baseurl }}/telecare-for-dementia-and-independent-living">
							<span class="k-icon"></span> for Commissioners
						</a></li>
						<li><a href="{{ site.baseurl }}/telecare-for-sheltered-housing">
							<span class="k-icon"></span> For Housing
						</a></li>
						<li><a href="{{ site.baseurl }}/telecare-for-family">
							<span class="k-icon"></span> For Families
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>



	<div class="partners">
		<div class="container text-center partners">
			<div class="row">
				<div class="col-md-10 col-md-push-1">
					<div>Our trusted partners and supporters:</div>
					<ul class="">
						<li><a href="https://www.tsa-voice.org.uk/"><img src="{{ site.baseurl }}/images/logos/TSA.png" alt="TSA"></a></li>
	                	<li><a href="https://www.gov.uk/government/organisations/innovate-uk"><img src="{{ site.baseurl }}/images/logos/INNOVATE-LOGO-4.jpg" alt="Innovate UK"></a></li>
						<li><a href="http://people-project.net/"><img src="{{ site.baseurl }}/images/logos/PEOPLE-project.png" alt="PEOPLE Project"></a></li>
						<li><a href="https://www.enovationgroup.com/en/"><img src="{{ site.baseurl }}/images/logos/Enovation.png" alt="Enovation"></a></li>
						<li><a href="https://www.seas2grow.com/"><img src="{{ site.baseurl }}/images/logos/Seas2Grow.png" alt="SEAS2Grow"></a></li>
						<li><a href="https://www.cornwall.gov.uk/"><img src="{{ site.baseurl }}/images/logos/cornwall-council.png" alt="Cornwall County Council"></a></li>
						<li><a href="https://www.middlesbrough.gov.uk/"><img src="{{ site.baseurl }}/images/logos/Middlesbrough-Council.png" alt="Middlesbrough Council"></a></li>
						<li><a href="http://www.sigfox.com/"><img src="{{ site.baseurl }}/images/logos/sigfox.png" alt="Sigfox"></a></li>
						<li><a href="https://www.surreycc.gov.uk/"><img src="{{ site.baseurl }}/images/logos/Surrey-County-Council.png" alt="Surrey County Council"></a></li>
						<li><a href="{{ site.baseurl }}/news/2020/03/02/Home-of-2030.html"><img src="{{ site.baseurl }}/images/logos/Home-Of-2030-winner.png" alt="Home of 2030"></a></li>


						<li><a href="https://www.knowsley.gov.uk/"><img src="{{ site.baseurl }}/images/logos/Knowsley.png" alt="Knowsley Council"></a></li>
						<li><a href="https://www.dorsetcouncil.gov.uk/"><img src="{{ site.baseurl }}/images/logos/Dorset.png" alt="Dorset Council"></a></li>
						<li><a href="https://www.intechnologysmartcities.com/"><img src="{{ site.baseurl }}/images/logos/intechnologyWiFi.png" alt="intechWiFi"></a></li>
						<li><a href="https://www.northumbria.ac.uk/"><img src="{{ site.baseurl }}/images/logos/Northumbria.png" alt="Northumbria University"></a></li>
						<li><a href="http://www.open.ac.uk/"><img src="{{ site.baseurl }}/images/logos/OU.png" alt="Open University"></a></li>
						<li><a href="https://www.wecr.org.uk/"><img src="{{ site.baseurl }}/images/logos/WeCare.png" alt="WeCare"></a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>





<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-64813499-3', 'auto');
  ga('send', 'pageview');
</script>