<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->

  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&family=Nunito:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}" async></script>


  <link rel="shortcut icon" href="{{ site.baseurl }}/images/icons/favicon.png">

  {% if page.additionalHeadContent %}{{ page.additionalHeadContent }}{% endif %}

  {% seo title=false %}

  <meta property="og:image" content="{{ site.baseurl }}/images/kemuri-ui-android-iphone.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="800" />
  <meta property="og:image:height" content="800" />
</head>