<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"> <img src="images/logos/kemuri-logo.jpg" alt="www.kemuri.org.uk"></a>
    </div>

    <div class="collapse navbar-collapse visilble-md-* visilble-lg-*">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
        	<a href="#the-issue" data-section="#the-issue" class="scroller">The Issue</a> </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
        	<a href="#the-solution" data-section="#our-solution" class="scroller">The Solution</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
        	<a href="#smart" data-section="#smart" class="scroller">Smart</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
        	<a href="#kemurisense" data-section="#kemurisense" class="scroller">KemuriSense</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
        	<a href="#installation" data-section="#installation" class="scroller">Installation</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
        	<a href="#independence" data-section="#independence" class="scroller">Independence</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
        	<a href="#contact" data-section="#contact" class="scroller">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>


