<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html"> <img src="{{ site.baseurl }}/images/logos/kemuri-logo.jpg" alt="kemuri" width="190"></a>
    </div>

    <div class="collapse navbar-collapse visilble-md-* visilble-lg-*">
      <ul class="nav navbar-nav navbar-right">

        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a href="{{ site.baseurl }}/telecare-for-dementia-and-independent-living">For Commissioners</a></li>

        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a href="{{ site.baseurl }}/telecare-for-sheltered-housing">For Housing</a></li>

        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a href="{{ site.baseurl }}/telecare-for-family">For Families</a></li>

        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a href="{{ site.baseurl }}/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>


